.column-type {
  font-size: 40px;
  font-weight: normal;
}

.column-type {
  font-size: 60px;
  font-weight: 600px;
}

.column-type {
  font-size: 80px;
  font-weight: 800px;
}

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

@media screen and (min-width: 576) {
  .col-sm-1 {
    flex-basis: 50%;
  }
  .col-sm-2 {
    flex-basis: 100%;
  }
  .col-sm-3 {
    flex-basis: 150%;
  }
  .col-sm-4 {
    flex-basis: 200%;
  }
  .col-sm-5 {
    flex-basis: 250%;
  }
  .col-sm-6 {
    flex-basis: 300%;
  }
  .col-sm-7 {
    flex-basis: 350%;
  }
  .col-sm-8 {
    flex-basis: 400%;
  }
  .col-sm-9 {
    flex-basis: 450%;
  }
  .col-sm-10 {
    flex-basis: 500%;
  }
  .col-sm-11 {
    flex-basis: 550%;
  }
  .col-sm-12 {
    flex-basis: 600%;
  }
}
@media screen and (min-width: 768) {
  .col-md-1 {
    flex-basis: 50%;
  }
  .col-md-2 {
    flex-basis: 100%;
  }
  .col-md-3 {
    flex-basis: 150%;
  }
  .col-md-4 {
    flex-basis: 200%;
  }
  .col-md-5 {
    flex-basis: 250%;
  }
  .col-md-6 {
    flex-basis: 300%;
  }
  .col-md-7 {
    flex-basis: 350%;
  }
  .col-md-8 {
    flex-basis: 400%;
  }
  .col-md-9 {
    flex-basis: 450%;
  }
  .col-md-10 {
    flex-basis: 500%;
  }
  .col-md-11 {
    flex-basis: 550%;
  }
  .col-md-12 {
    flex-basis: 600%;
  }
}
@media screen and (min-width: 992) {
  .col-lg-1 {
    flex-basis: 50%;
  }
  .col-lg-2 {
    flex-basis: 100%;
  }
  .col-lg-3 {
    flex-basis: 150%;
  }
  .col-lg-4 {
    flex-basis: 200%;
  }
  .col-lg-5 {
    flex-basis: 250%;
  }
  .col-lg-6 {
    flex-basis: 300%;
  }
  .col-lg-7 {
    flex-basis: 350%;
  }
  .col-lg-8 {
    flex-basis: 400%;
  }
  .col-lg-9 {
    flex-basis: 450%;
  }
  .col-lg-10 {
    flex-basis: 500%;
  }
  .col-lg-11 {
    flex-basis: 550%;
  }
  .col-lg-12 {
    flex-basis: 600%;
  }
}
@media screen and (min-width: 1200) {
  .col-xl-1 {
    flex-basis: 50%;
  }
  .col-xl-2 {
    flex-basis: 100%;
  }
  .col-xl-3 {
    flex-basis: 150%;
  }
  .col-xl-4 {
    flex-basis: 200%;
  }
  .col-xl-5 {
    flex-basis: 250%;
  }
  .col-xl-6 {
    flex-basis: 300%;
  }
  .col-xl-7 {
    flex-basis: 350%;
  }
  .col-xl-8 {
    flex-basis: 400%;
  }
  .col-xl-9 {
    flex-basis: 450%;
  }
  .col-xl-10 {
    flex-basis: 500%;
  }
  .col-xl-11 {
    flex-basis: 550%;
  }
  .col-xl-12 {
    flex-basis: 600%;
  }
}
@media screen and (min-width: 1400) {
  .col-xxl-1 {
    flex-basis: 50%;
  }
  .col-xxl-2 {
    flex-basis: 100%;
  }
  .col-xxl-3 {
    flex-basis: 150%;
  }
  .col-xxl-4 {
    flex-basis: 200%;
  }
  .col-xxl-5 {
    flex-basis: 250%;
  }
  .col-xxl-6 {
    flex-basis: 300%;
  }
  .col-xxl-7 {
    flex-basis: 350%;
  }
  .col-xxl-8 {
    flex-basis: 400%;
  }
  .col-xxl-9 {
    flex-basis: 450%;
  }
  .col-xxl-10 {
    flex-basis: 500%;
  }
  .col-xxl-11 {
    flex-basis: 550%;
  }
  .col-xxl-12 {
    flex-basis: 600%;
  }
}
.header {
  display: flex;
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  .header {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .header {
    display: block;
  }
}

/*# sourceMappingURL=ex06.css.map */
