.products {
    .products-inner {
        .products-heading {
            text-align: center;
            font-size: 2.6rem;
            font-weight: 800;
        }

        .products-list {
            margin-top: 60px;

            .gap-space {
                row-gap: 80px;
                column-gap: -40px;


            }

            .item {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: space-between;
            }

            .img-group {
                position: relative;
                cursor: pointer;

                .img-bg {}

                .img-main {
                    position: absolute;
                    top: 41%;
                    left: 50%;

                    transform: translateX(-50%);
                }
            }

            .item-info {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .item-heading {
                    margin-top: 80px;
                    font-size: 2.3rem;
                    text-align: center;
                    font-weight: 700;
                    height: 60px;
                }

                .item-separate {
                    margin-top: 10px;
                }

                .item-desc {
                    color: #656565;
                    margin-top: 18px;
                    font-size: 1.6rem;
                    font-weight: 400;
                }

                .item-price {
                    font-size: 1.6rem;
                    font-weight: 400;
                    margin-top: 4px;

                    span {
                        color: #000;
                        font-size: 2.3rem;
                        font-weight: 600;
                    }
                }
            }

            .item-btn {
                display: inline-flex;
                padding: 14px 12px;
                margin-top: 24px;
                font-weight: 700;
                font-size: 1.8rem;

                border-radius: 6px;
                background: #46b20f;
                color: #fff;
                cursor: pointer;

                &:hover {
                    background: #ff6916;
                }

                &:active {
                    background: #e05000;
                }
            }
        }
    }
}