* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: aliceblue;
    text-decoration: none;
}

body {
    background: black;
    color: wheat;
}

.menu {
    width: 80%;
    margin: 30px auto;
    background: whitesmoke;
    font-size: 0;
    border-radius: 5px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    background: red;
    font-size: initial;
}

.menu li a:hover {
    background: green;
    border-radius: 5px;
}

.menu ul {
    display: none;
    position: absolute;
    background: bisque;
    min-width: 200px;
}

.menu li:hover ul {
    display: block;
}