* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    height: 500px;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    background-color: grey;
}

.shopping-cart {
    width: 500px;
    margin-left: 990px;

}

.up {
    width: 500px;
    height: 220px;
    background-color: rgb(238, 238, 238);
}

.down {
    width: 500px;
    height: 170px;
    background-color: rgb(238, 238, 238);
}

hr {
    width: 500px;
}

.title {
    width: 500px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.232);
}

h2 {
    margin-left: 20px;
    padding-top: 10px;
}

.notification {
    width: 15px;
    height: 15px;
    background-color: blue;
    text-align: center;
    color: white;
    border-radius: 99%;
    margin-left: 170px;
    margin-top: -35px;
}

.fa-circle-xmark {
    color: rgb(255, 85, 0);
    margin-left: 470px;
    margin-top: -45px;
}

.phone {
    width: 150px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
}

.nav-up {
    display: flex;
    position: relative;
}

.info>p {
    margin-top: 40px;
    margin-left: 30px;
}

.number {
    width: 100px;
    height: 30px;
    border: 1px solid rgb(191, 185, 185);
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 30px;
}

.number>p {
    text-align: center;
    margin-top: 3px;
    color: rgb(191, 185, 185);
}

.price {
    margin-top: -25px;
    margin-left: 160px;
}

.fa-x {
    color: rgb(168, 162, 162);
    margin-left: 135px;
    margin-top: -75px;
    position: absolute;
}

.book {
    width: 150px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
}

.number-one {
    width: 100px;
    height: 30px;
    border: 1px solid rgb(191, 185, 185);
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 30px;
}

.number-one>p {
    text-align: center;
    margin-top: 3px;
    color: rgb(191, 185, 185);
}

.nav-down {
    position: relative;
    display: flex;
}

.fa-x {
    color: rgb(168, 162, 162);
    margin-left: 135px;
    margin-top: -75px;
    position: absolute;
}

.cost {
    margin-top: -25px;
    margin-left: 160px;
}

.all {
    color: rgb(255, 85, 0);
    font-size: 22px;
    margin-left: 410px;
}

label {
    color: silver;
}

input {
    color: silver;
    width: 360px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid silver;
    margin-top: 15px;
    margin-left: 70px;
}

input[type="text"]::placeholder {
    text-align: center;
}

button {
    display: block;
    margin-top: 20px;
    width: 360px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(66, 66, 228, 0.892);
    color: #fff;
    margin-left: 70px;
}

.car {
    width: 50px;
    height: 50px;
    position: relative;
    border: 2px solid rgb(77, 77, 209);
    border-radius: 99%;
    margin-left: 70px;
    margin-top: 40px;

}

.fa-car-side {
    margin-left: 15px;
    margin-top: 15px;
    color: rgb(77, 77, 209);
}

span {
    position: absolute;
    margin-left: 160px;
    margin-top: -30px;
    font-size: 20px;
}

.btn {
    background-color: #fff;
    height: 345px;
}