/* Error: There is no module with the namespace "bien".
 *    ,
 * 15 |         background: bien.$primaryColor;
 *    |                     ^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\ex01.scss 15:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "bien".\a    \2577 \a 15 \2502          background: bien.$primaryColor;\d\a    \2502                      ^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\ex01.scss 15:21  root stylesheet';
}
