/* quy ước :
.row --> là hàng
.col-{nmber}--> cột chiếm number ô (number từ 1 đến 12)

responsive ( triển khai theo mobile first)
<576 --> .col-{nmber}
>=576px --> .col-sm-{number}
>=768px --> .col-md- {number}
>=1200px --> .vol-lg-{number}
>=1400px --> .col-xxl-{number}

khi gọi class ở màn hình nào chỉ hoạt động ở màn hình đó
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

:root {
    --container-width: 1200px;
    --column-space: 20px;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(0 - var(--column-space) / 2);
}

[class*="col-"] {

    flex-basis: calc(1 / 12 * 100% * var(--column-number));
    max-width: calc(1 / 12 * 100% * var(--column-number));
    padding: 0 calc(0 - var(--column-space) / 2)
}

[class*="offset-"] {
    margin-left: calc(1 /12 * 100% * var(--column-offset-number));
}

.col-1 {
    /*
    number=1 
    cell-number = 12 
    width = (1 / cell-number * 100)*number 
     */
    --column-number: 1;
}

.col-2 {
    --column-number: 2;
}

.col-3 {
    --column-number: 3;
}

.col-4 {
    --column-number: 4;
}

.col-5 {
    --column-number: 5;
}

.col-6 {
    --column-number: 6;
}

.col-7 {
    --column-number: 7;
}

.col-8 {
    --column-number: 8;
}

.col-9 {
    --column-number: 9;
}

.col-10 {
    --column-number: 10;
}

.col-11 {
    --column-number: 11;
}

.col-12 {
    --column-number: 12;
}

.offset-1 {

    --column-offset-number: 1;
}

.offset-2 {
    --column-offset-number: 2;
}

.offset-3 {
    --column-offset-number: 3;
}

.offset-4 {
    --column-offset-number: 4;
}

.offset-5 {
    --column-offset-number: 5;
}

.offset-6 {
    --column-offset-number: 6;
}

.offset-7 {
    --column-offset-number: 7;
}

.offset-8 {
    --column-offset-number: 8;
}

.offset-9 {
    --column-offset-number: 9;
}

.offset-10 {
    --column-offset-number: 10;
}

.offset-11 {
    --column-offset-number: 11;
}

.offset-12 {
    --column-offset-number: 12;
}


@media screen and (min-width: 576px) {
    .col-sm-1 {
        /*
            number=1 
            cell-number = 12 
            width = (1 / cell-number * 100)*number 
             */
        --column-number: 1;
    }

    .col-sm-2 {
        --column-number: 2;
    }

    .col-sm-3 {
        --column-number: 3;
    }

    .col-sm-4 {
        --column-number: 4;
    }

    .col-sm-5 {
        --column-number: 5;
    }

    .col-sm-6 {
        --column-number: 6;
    }

    .col-sm-7 {
        --column-number: 7;
    }

    .col-sm-8 {
        --column-number: 8;
    }

    .col-sm-9 {
        --column-number: 9;
    }

    .col-sm-10 {
        --column-number: 10;
    }

    .col-sm-11 {
        --column-number: 11;
    }

    .col-sm-12 {
        --column-number: 12;
    }
}

@media screen and (min-width: 768px) {
    .col-md-1 {
        /*
            number=1 
            cell-number = 12 
            width = (1 / cell-number * 100)*number 
             */
        --column-number: 1;
    }

    .col-md-2 {
        --column-number: 2;
    }

    .col-md-3 {
        --column-number: 3;
    }

    .col-md-4 {
        --column-number: 4;
    }

    .col-md-5 {
        --column-number: 5;
    }

    .col-md-6 {
        --column-number: 6;
    }

    .col-md-7 {
        --column-number: 7;
    }

    .col-md-8 {
        --column-number: 8;
    }

    .col-md-9 {
        --column-number: 9;
    }

    .col-md-10 {
        --column-number: 10;
    }

    .col-md-11 {
        --column-number: 11;
    }

    .col-md-12 {
        --column-number: 12;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding: 0;
    }

    .col-xl-1 {
        /*
            number=1 
            cell-number = 12 
            width = (1 / cell-number * 100)*number 
             */
        --column-number: 1;
    }

    .col-xl-2 {
        --column-number: 2;
    }

    .col-xl-3 {
        --column-number: 3;
    }

    .col-xl-4 {
        --column-number: 4;
    }

    .col-xl-5 {
        --column-number: 5;
    }

    .col-xl-6 {
        --column-number: 6;
    }

    .col-xl-7 {
        --column-number: 7;
    }

    .col-xl-8 {
        --column-number: 8;
    }

    .col-xl-9 {
        --column-number: 9;
    }

    .col-xl-10 {
        --column-number: 10;
    }

    .col-xl-11 {
        --column-number: 11;
    }

    .col-xl-12 {
        --column-number: 12;
    }
}

@media screen and (min-width: 1400px) {
    .col-xxl-1 {
        /*
            number=1 
            cell-number = 12 
            width = (1 / cell-number * 100)*number 
             */
        --column-number: 1;
    }

    .col-xxl-2 {
        --column-number: 2;
    }

    .col-xxl-3 {
        --column-number: 3;
    }

    .col-xxl-4 {
        --column-number: 4;
    }

    .col-xxl-5 {
        --column-number: 5;
    }

    .col-xxl-6 {
        --column-number: 6;
    }

    .col-xxl-7 {
        --column-number: 7;
    }

    .col-xxl-8 {
        --column-number: 8;
    }

    .col-xxl-9 {
        --column-number: 9;
    }

    .col-xxl-10 {
        --column-number: 10;
    }

    .col-xxl-11 {
        --column-number: 11;
    }

    .col-xxl-12 {
        --column-number: 12;
    }
}