/* 
1. đổ bóng khối 
box-shadow: h-offset : vtri của bóng theo chiều ngang
 v-offset :vị trí của bóng theo chiều dọc ,  
 blur: độ nhòe của bóng
spread: kích thước của bóng ,  color 


2. Đổ bóng chữ*/




.box {
    width: 200px;
    height: 200px;
    background: green;
    margin: 30px auto;
    box-shadow: 5px 5px 5px red, 10px 10px 10px pink, 15px 15px 15px violet;
}

h2 {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;

}