.header {
    box-shadow: 0px 1.6666666269302368px 8.333333015441895px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 0;

    .logo {
        height: 99px;

        img {
            max-height: 100%;
            width: auto;
            display: block;

        }
    }

    .header-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        .menu {
            ul {
                display: flex;

                li {
                    padding: 0 25px;

                    a {
                        color: #2C2C2C;
                        font-weight: 600;
                        padding-bottom: 50px;
                        font-size: 12px;
                    }

                    &.active {
                        a {
                            border-bottom: 1.667px solid;
                            color: #46B20F;

                        }
                    }

                    &:hover {
                        @extend .active;
                    }
                }
            }
        }

        .cart-icon {
            padding: 0 25px;

            a {
                position: relative;
                display: inline-block;

                span {
                    position: absolute;
                    top: -5px;
                    right: -6px;
                    background: green;
                    color: #fff;
                    padding: 0 4px;
                    border-radius: 50%;
                    font-size: 1.3rem;

                }
            }
        }

        .search-icon {
            padding-left: 25px;
        }
    }

    .menu-toggle {
        display: none;
    }
}

@media screen and (max-width: 991.98px) {
    .header {
        .menu-toggle {
            display: block;
            display: flex;
            align-items: center;

            label {
                font-size: 2.5rem;
            }
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .header-nav {
            .menu {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                padding: 20px 0;
                min-width: 250px;
                translate: -100%;
                transition: translate 0.4s ease;
                z-index: 2;

                ul {
                    display: block;

                    li {
                        a {
                            color: #fff !important;
                            border: 0 !important;
                            display: block;
                            padding: 10px 0;
                        }
                    }
                }
            }

            .menu-overlay {
                position: fixed;
                inset: 0;
                background: #0000008a;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s ease;
                transition-property: visibility, opacity;
            }

            input[type="checkbox"] {
                &:checked {
                    ~.menu {
                        translate: 0;
                    }

                    ~.menu-overlay {
                        opacity: 1;
                        visibility: visible;

                    }
                }
            }

            .search-icon {
                padding-left: 0;
            }
        }
    }
}