* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.search-box {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

}

h1 {
    font-size: 50px;
}

.btn {
    border: none;
    outline: none;
    background-color: #0093e9;
    color: #fff;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #80d0c7;
}

.result {
    display: none;
    width: 60%;
    border-radius: 15px;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid green;
}

.result.failure {
    border-color: red;
}

.msg-start {
    font-size: 25px;
    color: #80d0c7;
}

.msg-success {
    font-size: 25px;
    display: block;
    color: #80d0c7;
}

.d-none {
    display: none;
}