* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.head-one {
    display: flex;
}

.tag-one {
    max-width: 1200px;
    height: 600px;
}

.title {
    margin-left: 70px;
    margin-top: 20px;
}

.head-one>ul {
    margin-left: 200px;
    display: flex;
    margin-top: 30px;
}

.head-one>ul>li {
    list-style: none;
    padding-left: 40px;
    font-size: 13px;
}

.head-one>ul>li a {
    text-decoration: none;
    color: #333;
}

.tool {
    width: 230px;
    height: 30px;
    position: relative;
    top: 25px;
    left: 120px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.fa-magnifying-glass {
    position: absolute;
    top: 32px;
    left: 850px;
    color: #33333393;
    padding-left: 5px;
}

.placeholder {
    position: absolute;
    top: 32px;
    left: 780px;
    font-size: 15px;
}

input[type="text"]:focus::placeholder {
    color: transparent;
}

.fa-bag-shopping {
    position: absolute;
    left: 1040px;
    top: 32px;
}

input {
    color: #333;
    padding-left: 30px;
}

.number {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 99px;
    background-color: red;
    color: #fff;
    text-align: center;
    top: 20px;
    left: 1055px;
}

li:nth-child(2):hover a,
li:nth-child(3):hover a,
li:nth-child(4):hover a {
    color: rgb(238, 110, 110);
}

span {
    color: rgb(238, 110, 110);
}

.faster {
    width: 190px;
    height: 40px;
    display: flex;
    background-color: rgba(240, 225, 225, 0.632);
    border-radius: 30px;
}

.strawberry {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.Faster {
    margin-top: 10px;
    margin-left: 20px;
}

.main-one {
    width: 46%;
    margin-left: 60px;
    margin-top: 100px;
}

h1 {
    font-size: 60px;
    margin-top: 20px;
}

.two-hours {
    color: red;
}

h1~p {
    color: #6e6e6e;
    margin-top: 20px;
}

.play {
    display: flex;
    margin-top: 30px;
}

.order-now {
    width: 130px;
    height: 50px;
    border: 1px solid red;
    background-color: rgb(247, 101, 101);
    color: #fff;
    border-radius: 10px;
}

.box-play {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    margin-left: 30px;
}

.fa-play {
    margin-left: 21px;
    margin-top: 16px;
    color: rgb(255, 149, 0);
}

.order {
    color: #333;
    margin-top: 17px;
    margin-left: 15px;
}

.order-now:hover {
    background-color: #fff;
    color: red;
}

.first {
    display: flex;
}

.img-one {
    width: 580px;
    height: 480px;
}

.tag-two {
    max-width: 1200px;
    height: 630px;
    background-color: rgb(247, 236, 236);
    padding-top: 50px;
}

.free-shipping {
    width: 230px;
    height: 250px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
}

.free {
    width: 250px;
    height: 250px;
    position: absolute;
    margin-left: 190px;
    margin-top: 20px;
}

.color {
    width: 225px;
    height: 247px;
    background-color: rgba(255, 0, 0, 0.634);
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    left: 2px;
    transition: all 0.25s ease-in-out;
}

.car {
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 70px;
}

.money {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 70px;
}

.message {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 70px;
}

.free-shipping span {
    color: black;
}

.title-tag-two {
    color: #6e6e6e !important;
    font-size: 14px;
}

.title-head-tag-two {
    width: 400px;
    text-align: center;
    margin-left: 35%;
}

.title-head-tag-two h2 {
    font-size: 28px;
}

.content-one {
    text-align: center;
}

.free:hover .color {
    rotate: -5deg;
    width: 240px;
    height: 270px;
    margin-left: 12px;
    margin-top: -5px;
}

.free-two:hover .color {
    rotate: -5deg;
    width: 240px;
    height: 270px;
    margin-left: 12px;
    margin-top: -5px;
}

.free-three:hover .color {
    rotate: -5deg;
    width: 240px;
    height: 270px;
    margin-left: 12px;
    margin-top: -5px;
}

.turn {
    display: flex;
    position: relative;
    align-items: center;
}

.free-two {
    position: absolute;
    left: 490px;
    top: 20px;
}

.free-three {
    position: absolute;
    left: 790px;
    top: 20px;
}

.tag-three {
    max-width: 1200px;
    height: 600px;
    display: flex;
}

.img-tag-three {
    width: 560px;
    margin-left: 70px;
}

.content-three {
    width: 350px;
    height: 300px;
    margin-top: 150px;
}

.content-three button {
    width: 150px;
    height: 50px;
    border: 1px solid red;
    background-color: rgb(247, 101, 101);
    color: #fff;
    border-radius: 10px;
}

.content-three button:hover {
    background-color: #fff;
    color: red;
}

.content-three span {
    color: rgb(14, 136, 95);
    font-size: 15px;
}

.content-three p {
    font-size: 17px;
    color: #6e6e6e;
}

.img-four {
    width: 500px;
    margin-left: 150px;
    margin-top: -20px;
}

.tag-four {
    max-width: 1200px;
    height: 600px;
    display: flex;
}

.content-four {
    width: 420px;
    height: 300px;
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.content-four h2 {
    font-size: 35px;
    font-weight: 750;
}

.content-four span {
    color: rgb(245, 178, 52);
    font-size: 15px;
    font-weight: 550;
}

.content-four button {
    width: 150px;
    height: 50px;
    border: 1px solid red;
    background-color: rgb(247, 101, 101);
    color: #fff;
    border-radius: 10px;
}

.content-four button:hover {
    background-color: #fff;
    color: red;
}

.tag-five {
    max-width: 1200px;
    height: 600px;
    display: flex;
    background-color: rgba(240, 225, 225, 0.632);
    color: #fff;
}

.img-tag-five {
    width: 230px;
    margin-left: 200px;
    margin-top: 100px;
}

.content-five {
    width: 420px;
    height: 300px;
    margin-top: 150px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.content-five span {
    color: red;
}

.content-five h2 {
    font-size: 35px;
    font-weight: 750;
    color: #333;
}

.content-five>p {
    color: #6e6e6e;
}

.border-apple {
    width: 150px;
    height: 55px;
    border: 1px solid silver;
    border-radius: 10px;
    color: #333;
    position: relative;
}

.apple {
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: #333;
    margin-top: 10px;
    margin-left: 15px;
}

.fa-apple {
    color: #fff;
    margin-left: 7.5px;
    margin-top: 3.5px;
    font-size: 20px;
}

.app {
    color: #333 !important;
    left: 60px;
    top: 15px;
    position: absolute;
}

.knot {
    display: flex;
    margin-top: 50px;
}

.border-ch {
    width: 150px;
    height: 55px;
    border: 1px solid silver;
    border-radius: 10px;
    margin-left: 15px;
    color: #333;
    position: relative;
}

.play-store {
    color: #333 !important;
    left: 50px;
    top: 15px;
    position: absolute;
}

.fa-google-play {
    color: #333;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
}

footer {
    max-width: 1200px;
    height: 400px;
    background-color: #fff;
    display: flex;
}

.footer-one {
    width: 20%;
    margin-left: 60px;
    margin-top: 70px;
}

footer p {
    color: #6e6e6e;
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: #6e6e6e;
    font-size: 15px;
}

footer li {
    list-style: none;
    padding-top: 15px;
}

.footer-two,
.footer-three,
.footer-four {
    margin-top: 80px;
    margin-left: 100px;
}

.footer-four {
    width: 200px;
}

footer li:hover a {
    color: #333;
}

.end p {
    font-size: 11px;
    color: #6e6e6e;
    padding: 20px;
    margin-left: 50px;
}

.end li {
    font-size: 13px;
    color: #6e6e6e;
    margin-top: -35px;
    padding-left: 20px;
    list-style: none;
}

.end a {
    text-decoration: none;
    color: #6e6e6e;
    padding-left: 15 px;
}

.end ul {
    display: flex;
    margin-left: 75%;
}

.end li:hover a {
    color: #333;
}