//vòng lặp: cứ pháp trong lâp trình cho phép 1 đoạn chương trình chayyj lặp đi lặp lại

//1.@for
//2.@while
//3.@each
// $number: 12;
// $start: 1;

// @for $i from $start through $number {
//     .item-#{$i} {
//         @if $i % 2==0 {
//             font-size: 30px * $1;
//         }

//         @else {
//             width: 10% * $1;
//         }
//     }
// }

$size : 40px,
60px,
80px; //biến có nhiều giá trị --> Mảng. Mỗi giá trị sẽ cách nhau bởi dấu , hoặc khoảng trắng

//để lặp qua các giá trị dùng vòng lặp @each
// $length: length($size);
// $count: 0;

// @each $size in $size {
//     $count: $count + 1;

//     .item-#{$size} {
//         @if ($count ==$length) {
//             font-size: 0;

//         }

//         @else {
//             font-size: $size;
//         }
//     }
// }

$sizes: (
    small,
    40px,
    normal),
    (medium, 60px, 600px),
    (large, 80px, 800px
);

@each $type, $size, $weight in $sizes {
    .column-#{type} {
        font-size: $size;
        font-weight: $weight;
    }
}

// destructuring
// map
$weight: (
    normal: 400,
    medium: 500,
    bold: 700,
);

@each $name, $value in $weight {
    .text-#{$name} {
        font-weight: $value;
    }
}

$breakpoints: (
    sm: 576,
    md: 768,
    lg: 992,
    xl: 1200,
    xxl: 1400,
);

@each $name,
$value in $breakpoints {
    @media screen and (min-width: #{$value}) {
        @for $i from 1 through 12 {
            .col-#{$name}-#{$i} {
                flex-basis: 50 * $i + 0%;
            }
        }
    }

}

@mixin screenTablet {
    @media screen and (max-width: 767px) {
        @content;
    }
}

.header {
    display: flex;
    padding: 30px 0;
}

@include screenTablet() {
    .header {
        display: block;
    }
}

// các viết responsive cho selector
@media screen and (max-width: 767px) {
    .header {
        display: block;
    }

}