.list-item ul li label {
    display: block;
    padding: 12px 30px;
    background: whitesmoke;
    color: rgb(57, 57, 57);
    font-size: 1rem;
    text-align: center;
}

ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
}

.list-item ul li label:hover {
    background-color: blue;
}



ul.products li:hover .button {
    bottom: 0px;
}

.product-top {
    padding-left: 30px;
}

.product-info {
    margin-top: 60px;
}

.star-1 {
    padding-left: 50px;
}

.product-name {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-price {
    padding-left: 75px;
}